{% extends 'base.html.twig' %}

{% block body %}
    {# поместите здесь HTML-код #}
    <div class="nn-block">
        <div class="interview-task">
            Здесь ваш код HTML<br/>
            <a target="_blank" href="https://twig.symfony.com/doc/2.x/templates.html">Справка по twig тут</a>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {# поместите здесь тэги javascript #}
{% endblock %}

{% block stylesheets %}
    {# поместите здесь тэги CSS #}
    <link rel="stylesheet" href="/assets/interview-task.css" type="text/css"/>
{% endblock %}