/.idea/
/docker/php/.web-server-pid
/docker/php/app/config/parameters.yml
/docker/php/build/
/docker/php/phpunit.xml
/docker/php/var/*
!/docker/php/var/cache
/docker/php/var/cache/*
!/docker/php/var/cache/.gitkeep
!/docker/php/var/logs
/docker/php/var/logs/*
!/docker/php/var/logs/.gitkeep
!/docker/php/var/sessions
/docker/php/var/sessions/*
!/docker/php/var/sessions/.gitkeep
!/docker/php/var/SymfonyRequirements.php
/docker/php/vendor/
/docker/php/web/bundles/
